.main-container{
    font-family: Helvetica, sans-serif;
    background: url('../assets/net-bg.jpg') no-repeat center fixed;
    background-size: cover ;
    padding: 20px;
    height: 100vh;
}

.heading-user-name {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}
.heading-user-name span {
    border-bottom: 3px solid #009688;
}

.springy-text {
    color: orange;
    animation-name: springy-text;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
  @keyframes springy-text {
    0%   {
      letter-spacing: 1.2em;
      color: orange;
    }
    100%   {
      letter-spacing: 0.1em;
      color: white;
    }
  }

.recent-act-heading{
    display: flex;
    margin-top: 55px;
}
.recent-act-heading span{
    color:#fff;
    font-size: 55px;
    border-bottom: 3px solid #009688;
    justify-content:start ;
    margin-left: 230px;
}

.table{
    text-align: center;
}

.users-table {
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
    height: 500px;
    width:1100px;
    overflow-y: auto;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px #000000;
    }