.main-con{
    font-family: Helvetica, sans-serif;
    background: url('../assets/net-bg.jpg') no-repeat center fixed;
    background-size: cover ;
    padding: 20px;
    height: 100vh;
}
.data-src{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.data-src .form-select{
    width: 33% !important;
}
.data-src Button{
    width: 98px !important;
    margin: 1px 10px !important;
}
.data-source-head{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.data-source-head span{
    color:#fff;
    font-size: 55px;
    border-bottom: 3px solid #009688;
}
.chart-for-analyzing{
    display: flex;
    justify-content: center;
    margin-top: 39px;
}
.bar-graph{
    display:flex;
    margin-right: 345px;
}